<div class="work-index">
  <div class="navigation">
    <div class="container">
      <h3>portafolio</h3>
      <h1>Mi trabajo<span>:</span></h1>
      <div class="buttons">
        <div class="square-button light">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26.03"
            height="16.939"
            viewBox="0 0 26.03 16.939"
          >
            <g id="Werk-1" transform="translate(-220 -2553)">
              <g id="Group-12" transform="translate(170 2211)">
                <path
                  id="Combined-Shape"
                  d="M63.931 360.256l6.133-6.132 1.407 1.406-7.083 7.084-1.418 1.416-8.439-8.439 1.417-1.416 5.98 5.98V338h2z"
                  class="cls-1"
                  transform="rotate(-90 63 351)"
                />
              </g>
            </g>
          </svg>
        </div>
        <div class="square-button dark">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26.03"
            height="16.939"
            viewBox="0 0 26.03 16.939"
          >
            <g id="Werk-1" transform="translate(-220 -2553)">
              <g id="Group-12" transform="translate(170 2211)">
                <path
                  id="Combined-Shape"
                  d="M63.931 360.256l6.133-6.132 1.407 1.406-7.083 7.084-1.418 1.416-8.439-8.439 1.417-1.416 5.98 5.98V338h2z"
                  class="cls-1"
                  transform="rotate(-90 63 351)"
                />
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="works desktop">
    <ng-container *ngFor="let project of projects">
      <a [routerLink]="'/works/' + project.urlSlug">
        <app-work-card-large
          [title]="project.subtitle"
          [projectName]="project.title"
          [projectType]="project.category?.name"
          [imageURL]="
            'https://portafolio-cms.herokuapp.com' + project.headerPhoto?.url
          "
        ></app-work-card-large>
      </a>
    </ng-container>
  </div>

  <div class="works mobile">
    <ng-container *ngFor="let project of projects">
      <a [routerLink]="'/works/' + project.urlSlug">
        <app-work-card
          [title]="project.subtitle"
          [projectName]="project.title"
          [projectType]="project.category?.name"
          [imageURL]="
            'https://portafolio-cms.herokuapp.com' + project.headerPhoto?.url
          "
        ></app-work-card>
      </a>
    </ng-container>
  </div>
</div>
