<div class="index-home">
  <h3>Frontend developer</h3>
  <h1>
    Mi meta es crear
    <span
      >increíbles
      <span class="subindex">
        HQ
      </span>
    </span>
    <br />desarrollos web/mobile para el público
  </h1>
  <div class="buttons-index">
    <a routerLink="/works">
      <button class="button dark">
        <span>Mis trabajos</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="icono-flecha"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            id="Trazado_21"
            d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"
          />
        </svg>
      </button>
    </a>
    <a routerLink="/contact">
      <button class="button dark">
        <span>Contacto</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="icono-flecha"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            id="Trazado_21"
            d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"
          />
        </svg>
      </button>
    </a>
  </div>
</div>
<app-how-i-do-it></app-how-i-do-it>
<app-recent-works></app-recent-works>
