<div class="about-me">
  <div class="who-i-am">
    <h3>soy daniela</h3>
    <h1>Acerca de mi<span>:</span></h1>
  </div>
  <div class="resume">
    <div class="photo">
      <img src="assets/about-me-photo.jpg" alt="Foto Daniela" />
    </div>
    <div class="facts">
      <div class="first-info">
        <div class="experience">
          <h2>1</h2>
          <h3>año de experiencia</h3>
        </div>
        <div class="age">
          <h2>27</h2>
          <h3>años</h3>
        </div>
      </div>
      <div class="facts-text">
        <p>
          Ingeniera química de profesión, pero desarrolladora por vocación.
          Desde siempre tuve gran interés por crear tecnología, y no simplemente
          de consumirla, el mundo del desarrollo web me ha permitido llevar a
          cabo muchas ideas y explorar mi curiosidad. Tengo una alta capacidad
          de autoaprendizaje y organización, lo que me permite superar mis
          límites.
        </p>
      </div>
      <div class="rrss">
        <a href="https://github.com/DaniSalermi" target="_blank"
          ><div>
            <img src="assets/github-icon.svg" alt="Icono githhub" /></div
        ></a>
        <a href="https://www.linkedin.com/in/danielasalermi/" target="_blank">
          <div><img src="assets/linkedin-icon.svg" alt="Icono linkedin" /></div>
        </a>

        <a href="https://www.instagram.com/devstack.ds/" target="_blank">
          <div>
            <img src="assets/instagram-icon.svg" alt="Icono instagram" />
          </div>
        </a>

        <a
          href="mailto:hola@danielasalermi.com?subject=Hola Daniela, quiero que trabajemos juntos"
          target="_blank"
        >
          <div><img src="assets/email-icon.svg" alt="Icono mail" /></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="gray-background">
  <div class="location">
    <div class="info">
      <h3>donde estoy ubicada</h3>
      <div class="h1-style">
        Santiago
      </div>
      <p>
        Actualmente me encuentro ubicada en Santiago, Chile. Sin embargo, estoy
        dispuesta a desarrollar mi carrera en otro país, hasta alcanzar mi meta
        de convertirme en desarrolladora full stack senior. Y posteriormente
        liderar proyectos asociados a tecnologías.
      </p>
    </div>
    <div class="map">
      <img src="assets/chile-map.svg" alt="Mapa de Chile" />
    </div>
  </div>
</div>

<div class="studies-container">
  <div class="studies">
    <div class="tittle">
      <h3>estudios</h3>
    </div>
    <div class="degrees">
      <div class="first">
        <h4>Ingeniería Química</h4>
        <h3>2010-2016</h3>
      </div>

      <div class="second">
        <h4>
          Diplomado en ingeniería <br />
          de procesos
        </h4>
        <h3>2016-2017</h3>
      </div>

      <div class="third">
        <h4>Bootcamp Laboratoria</h4>
        <h3>2019-2020</h3>
      </div>
    </div>
  </div>
</div>
