<div class="about-me">
  <div class="who-i-am">
    <h3>soy daniela</h3>
    <h1>Acerca de mi<span>:</span></h1>
  </div>
  <div class="resume">
    <div class="photo">
      <img src="assets/about-me-photo.jpg" alt="Foto Daniela" />
    </div>
    <div class="facts">
      <div class="first-info">
        <div class="experience">
          <h2>1</h2>
          <h3>año de experiencia</h3>
        </div>
        <div class="age">
          <h2>27</h2>
          <h3>años</h3>
        </div>
      </div>
      <div class="facts-text">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          dicta sunt perferendis illo deleniti temporibus aliquid optio
          similique, accusantium sequi officia suscipit amet non, magnam enim
          qui, in dolorum eos? Lorem, ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
      </div>
      <div class="rrss">
        <a href="https://github.com/DaniSalermi" target="_blank"
          ><div>
            <img src="assets/github-icon.svg" alt="Icono githhub" /></div
        ></a>
        <a href="https://www.linkedin.com/in/danielasalermi/" target="_blank">
          <div><img src="assets/linkedin-icon.svg" alt="Icono linkedin" /></div>
        </a>

        <a href="https://www.instagram.com/devstack.ds/" target="_blank">
          <div>
            <img src="assets/instagram-icon.svg" alt="Icono instagram" />
          </div>
        </a>

        <a
          href="mailto:hola@danielasalermi.com?subject=Hola Daniela, quiero que trabajemos juntos"
          target="_blank"
        >
          <div><img src="assets/email-icon.svg" alt="Icono mail" /></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="gray-background">
  <div class="location">
    <div class="info">
      <h3>donde estoy ubicada</h3>
      <div class="h1-style">
        Santiago
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima modi
        ipsam, culpa deserunt molestiae consequatur, ipsum pariatur distinctio
        quasi aliquid non? Ut libero animi nostrum voluptatum recusandae
        eligendi placeat suscipit!
      </p>
    </div>
    <div class="map">
      <img src="assets/chile-map.svg" alt="Mapa de Chile" />
    </div>
  </div>
</div>

<div class="studies-container">
  <div class="studies">
    <div class="tittle">
      <h3>estudios</h3>
    </div>
    <div class="degrees">
      <div class="first">
        <h4>Ingeniería Química</h4>
        <h3>2010-2016</h3>
      </div>

      <div class="second">
        <h4>
          Diplomado en ingeniería <br />
          de procesos
        </h4>
        <h3>2016-2017</h3>
      </div>

      <div class="third">
        <h4>Bootcamp Laboratoria</h4>
        <h3>2019-2020</h3>
      </div>
    </div>
  </div>
</div>
