<div class="rrss-bar">
  <a href="https://github.com/DaniSalermi" target="_blank"
    ><div>
      <img src="assets/github-icon.svg" alt="Icono githhub" /></div
  ></a>
  <a href="https://www.linkedin.com/in/danielasalermi/" target="_blank">
    <div><img src="assets/linkedin-icon.svg" alt="Icono linkedin" /></div>
  </a>

  <a href="https://www.instagram.com/devstack.ds/" target="_blank">
    <div><img src="assets/instagram-icon.svg" alt="Icono instagram" /></div>
  </a>

  <a
    href="mailto:hola@danielasalermi.com?subject=Hola Daniela, quiero que trabajemos juntos"
    target="_blank"
  >
    <div><img src="assets/email-icon.svg" alt="Icono mail" /></div>
  </a>

  <div><img src="assets/phone-icon.svg" alt="Icono teléfono" /></div>
</div>
