<div class="works-detail">
  <div class="first-section">
    <div class="project-detail">
      <h3>projecto laboratoria</h3>
      <h1>Battlezombie</h1>
      <div class="h1-style">Videojuego</div>
      <button class="button dark">
        <span>Más info</span>
        <svg xmlns="http://www.w3.org/2000/svg" id="icono-flecha" width="24" height="24" viewBox="0 0 24 24">
          <path id="Trazado_21" d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
        </svg>
      </button>
    </div>

    <div class="project-image">
      <img src="assets/battlezombie-home-mockup.png" alt="Imagen inicio projecto" />
    </div>
  </div>

  <div class="second-section">
    <div class="about-project">
      <h3>el desafío</h3>
      <h2>Juego online basado en Battleship</h2>
      <p class="about-text">
        Battlezombie fue un desarrollo que se llevó a cabo junto con la empresa
        Concrete. El desafío consistía en desarrollar un juego basado en el
        clásico Battleship, pero con algún giro. Battlezombie se trata de cuidar
        tu jardín de una horda de zombies sembradas por tu vecino, y donde
        tienes que combatir sabiamente, ya que gana el vecino con mayor puntaje.
      </p>
    </div>
    <div class="tecnologies">
      <div>
        <h3>frontend</h3>
        <p class="tech-detail">Angular 8</p>
        <div class="separator"></div>
      </div>
      <div>
        <h3>backend</h3>
        <p class="tech-detail">MongoDB, Express</p>
        <div class="separator"></div>
      </div>
      <div>
        <h3>Sitio web</h3>
        <p class="tech-detail">https://battlezombie.herokuapp.com/</p>
        <div class="separator"></div>
      </div>
      <div>
        <h3>Repositorio</h3>
        <p class="tech-detail">https://github.com/DaniSalermi/battleship</p>
      </div>
    </div>
  </div>
</div>

<!-- <app-work-gallery></app-work-gallery> -->