<div class="works-detail">
  <div class="first-section">
    <div class="project-detail">
      <h3>{{ projectData.subtitle }}</h3>
      <h1>{{ projectData.title }}</h1>
      <div class="h1-style">{{ projectData.category?.name }}</div>
      <button class="button dark">
        <span>Más info</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="icono-flecha"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            id="Trazado_21"
            d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"
          />
        </svg>
      </button>
    </div>

    <div class="project-image">
      <img
        [src]="
          'https://portafolio-cms.herokuapp.com' + projectData.headerPhoto?.url
        "
        alt="Imagen inicio projecto"
      />
    </div>
  </div>

  <div class="second-section">
    <div class="about-project">
      <h3>{{ projectData.description?.subtitle }}</h3>
      <h2>{{ projectData.description?.title }}</h2>
      <p class="about-text">
        {{ projectData.description?.description }}
      </p>
    </div>
    <div class="tecnologies">
      <div *ngFor="let item of projectData.description?.list">
        <h3>{{ item.title }}</h3>
        <p class="tech-detail">{{ item.description }}</p>
        <div class="separator"></div>
      </div>
    </div>
  </div>
</div>

<!-- <app-work-gallery></app-work-gallery> -->
