<div class="works-detail">
  <div class="first-section">
    <div class="project-detail">
      <h3>projecto laboratoria</h3>
      <h1>Superhambu</h1>
      <div class="h1-style">Plataforma</div>
      <button class="button dark">
        <span>Más info</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="icono-flecha"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            id="Trazado_21"
            d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"
          />
        </svg>
      </button>
    </div>

    <div class="project-image">
      <img
        src="assets/superhambu-home-mockup.png"
        alt="Imagen inicio projecto"
      />
    </div>
  </div>

  <div class="second-section">
    <div class="about-project">
      <h3>el desafío</h3>
      <h2>Plataforma de administración de comandas para restaurantes</h2>
      <p class="about-text">
        Superhambu fue nuestro primer desafío en Laboratoria, utilizando
        frameworks (Angular 8). El sitema permite hacer el seguimiento de
        atención a clientes dentro de restaurantes (en este caso una
        hamburguesería), desde el momento en el que realiza su pedido, pasando
        por la realización y hasta la entrega del mismo. Esta plataforma
        resuelve los principales problemas de nuestro cliente, el ahorrar dinero
        al no preparar las órdenes más de una vez, y entregar el pedido caliente
        y de manera ordenada a sus clientes.
      </p>
    </div>
    <div class="tecnologies">
      <div>
        <h3>frontend</h3>
        <p class="tech-detail">Angular 8</p>
        <div class="separator"></div>
      </div>
      <div>
        <h3>otras tecnologías</h3>
        <p class="tech-detail">CSS3, JavaScript (ES6), HTML5</p>
        <div class="separator"></div>
      </div>
      <div>
        <h3>Sitio web</h3>
        <a href="https://burger-queens.herokuapp.com/home" target="_blank">
          <p class="tech-detail">https://burger-queens.herokuapp.com/home</p>
        </a>
        <div class="separator"></div>
      </div>
      <div>
        <h3>Repositorio</h3>
        <a
          href="https://github.com/NataGalvez/SCL010-Burger-Queen"
          target="_blank"
        >
          <p class="tech-detail">
            https://github.com/NataGalvez/SCL010-Burger-Queen
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <app-work-gallery></app-work-gallery> -->
