<div class="contact">
  <div class="left-section">
    <div>
      <div class="title">
        <h3>mis datos</h3>
        <h1>Contáctame<span>:</span></h1>
      </div>
      <div class="detail">
        <h3>detalle de contacto</h3>
        <a
          target="_blank"
          href="mailto:hola@danielasalermi.com?subject=Hola Daniela, quiero que trabajemos juntos"
          ><p>hola@danielasalermi.com</p></a
        >
        <a target="_blank" href="tel:+56952536682"><p>+56 9 5253 6682</p></a>
      </div>
      <div class="networks">
        <h3>redes sociales</h3>
        <a target="_blank" href="https://www.instagram.com/danisalermi">
          <p>instagram.com/danisalermi</p>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/danielasalermi/">
          <p>linkedin.com/danielasalermi</p>
        </a>
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="photo">
      <video width="430" height="320" autoplay loop>
        <source src="/assets/hello.webm" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="say-hi">
      <h2>Salúdame. <span>Como el zorrito.</span></h2>
    </div>
    <div class="send-email">
      <a
        target="_blank"
        href="mailto:hola@danielasalermi.com?subject=Hola Daniela, quiero que trabajemos juntos"
      >
        <div class="button dark contour-light">
          hola@danielasalermi.com
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="icono-flecha"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              id="Trazado_21"
              d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"
            />
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>
