.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 50px;
  top: 25px;
  z-index: 6;
  position: sticky;
  .logo {
    img {
      mix-blend-mode: difference;
    }
  }
  .right-header {
    display: flex;
    align-items: center;
    .lenguages {
      display: flex;
      display: none;
      h1 {
        font-size: 20px;
        font-weight: bold;
        padding-right: 15px;
        color: rgba(25, 26, 30, 0.4);

        &.active {
          color: #191a1e;
        }
      }
    }
    .menu-icon {
      img {
        width: 59px;
        mix-blend-mode: difference;
      }
    }
  }
}
