<div class="how-i-do-it">
  <div class="square-button blue">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="26.03"
      height="16.939"
      viewBox="0 0 26.03 16.939"
    >
      <g id="Werk-1" transform="translate(-220 -2553)">
        <g id="Group-12" transform="translate(170 2211)">
          <path
            id="Combined-Shape"
            d="M63.931 360.256l6.133-6.132 1.407 1.406-7.083 7.084-1.418 1.416-8.439-8.439 1.417-1.416 5.98 5.98V338h2z"
            class="cls-1"
            transform="rotate(-90 63 351)"
          />
        </g>
      </g>
    </svg>
  </div>
  <div class="photo-how-i-do-it"></div>
  <div class="background-how-i-do-it">
    <div class="text-how-i-do-it">
      <h2 class="light">
        ¿Cómo lo hago?
      </h2>
      <div class="text-and-skills">
        <div class="text">
          <p>
            Cómo desarrolladora web, siempre me encuentro actualizándome en las
            tecnologías que utilizo para desempeñar mi trabajo con mayor calidad
            y eficiencia. La combinación de mi pasión y creatividad junto a
            estas herramientas, aseguran un excelente resultado de producción.
          </p>
        </div>
        <div class="code-skills">
          <p>
            <span>Código</span> <br />
            HTML5 <br />
            JavaScript ES6 <br />
            CSS3 <br />
            SCSS <br />
            Angular 2 - 8 <br />
            Consumo de API's <br />
            NodeJS <br />
            Git / GitHub <br />
            Firebase <br />
          </p>
        </div>
        <div class="design-skills">
          <p>
            <span>Diseño</span> <br />
            Adobe Xd <br />
            Figma <br />
            Prototipado <br />
            UX <br />
            Zeplin <br />
          </p>
        </div>
        <div class="projects-skills">
          <p>
            <span>Manejo de proyectos</span> <br />
            Trello <br />
            GitHub Projects <br />
            Scrum <br />
            Kanban <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
